/* Estilo Personalizado */
body {
    font-family: Arial, sans-serif;
}

#home {
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
}


.A{
    height: 265px;
    border-radius: 10px;
}
.listA{
    text-align: center;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
  
   
    border-radius: 4px;
    gap: 10px; /* Espaço entre o texto e o botão */
}